version: '3.8'

services:
  app:
    build: .
    container_name: dino_wallet_app
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://user:password@postgres:5432/wallet_db?schema=public
      - PORT=3000
    depends_on:
      postgres:
        condition: service_started
    restart: always

  postgres:
    image: postgres:15-alpine
    container_name: dino_wallet_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: wallet_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
